exportPattern("^[^\\.]")	#exports all variables that do not start with a period.

  importFrom("graphics", "legend", "matplot", "mtext", "plot")
  importFrom("stats", "optimize", "plogis")
  importFrom("utils", "dump.frames", "recover", "tail")

  importFrom("twModMeta", "initStateModMeta", "twCreateModMeta", "twSetModMetaAuxGroups")
  importFrom("deSolve", "rk4", "lsoda")



