/soil_main.log
/tmp/
/*.pdf
/Wutzler14_seam.synctex.gz
/*.sty
/*.aux
/twutz_txt.bib
/copernicus.*
/fig/
/fig_before160609/
/.project
/prevVersion/
/diffVersion/
/reviewVersion/
/SBB_main.log
/Wutzler14_sea.synctex.gz
/orig.bib
/SBB_main.spl
/soil_main_diff.log
